fastapi
uvicorn
pydantic
python-multipart

# Speech to text
openai-whisper
torch
ffmpeg-python
imageio-ffmpeg

# NLP
langdetect
regex

# TTS (choose ONE)
pyttsx3
# OR
TTS   # Coqui TTS

# Utils
numpy
python-dotenv
